body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

.title-bar {
    height: 150px;
    width: 100%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.score {
    margin-top: 3rem;
    font-size: 40px;
}

.total-points {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 50px;
}

.btn-container {
    margin-top: 3rem;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px;
    padding: 15px 20px;
    color: #fff;
    background-color: rgb(16, 135, 159);
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
}
